<ion-header>
    <ion-navbar>
        <img src="assets/img/AZ_SYMBOL_RGB.png" width="50px" />
        <ion-title></ion-title>
        <ion-buttons end>
            <button menuToggle>
              <ion-icon name="menu"></ion-icon>   
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="home">
    <ion-grid>
        <!-- Search -->
        <ion-row>
            <ion-col>
                <ion-searchbar>
                </ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="hasConnection">
        <!-- News -->
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        {{'home.news.header' | translate}}
                    </ion-card-header>
                    <ion-card-content>
                        {{'home.news.latest' | translate}}
                        <ion-card>
                            <ion-card-header>
                                <div *ngIf="!latestNews">{{'home.news.loading' | translate}}</div>
                                <div *ngIf="latestNews">{{latestNews.title}}</div>
                                <ion-card-content>
                                    <div *ngIf="latestNews">{{latestNews.summary}}</div>
                                </ion-card-content>
                            </ion-card-header>
                        </ion-card>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <!-- Main sections -->
        <ion-row responsive-sm>
            <ion-col width-50>
                <ion-card>
                    <ion-card-header>
                        {{'policies.title' | translate}}
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col width-50>
                <ion-card>
                    <ion-card-header>
                        {{'conduct.title' | translate}}
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row responsive-sm>
            <ion-col width-50>
                <ion-card>
                    <ion-card-header>
                        {{'faqs.title' | translate}}
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col width-50>
                <ion-card>
                    <ion-card-header>
                        {{'quiz.title' | translate}}
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="hasConnection">
        <ion-row responsive-sm>
            <ion-col width-100>
                <ion-card>
                    <ion-card-header>
                        {{'offline-content.title' | translate}}
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row responsive-sm>
            <ion-col width-50>
                <ion-card>
                    <ion-card-header>
                        {{'compliance-support.title' | translate}}
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col width-50>
                <ion-card>
                    <ion-card-header>
                        {{'report-concern.title' | translate}}
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="!hasConnection">
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        {{'offline-content.title' | translate}}
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col text-center>
                {{'home.footer' | translate}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>