[class*="header"] {
  box-shadow: $shadow-small;
  background-color: $mulberry;

  .toolbar-title {
    font-weight: $font-black;
    text-align: center;
    font-size: $gamma;
  }

  button {
    background-color: transparent;
    font-size: $alpha;
  }

  ion-navbar {
    max-width: $max-width;
    margin: auto;
  }
}

.header-large {
  position: relative;

  & + .container {
    margin-top: 30px;
    z-index: 10;

    @media screen and (max-width: $small) {
      margin-top: -50px;
    }
  }

  ion-navbar {
    align-items: stretch;
  }

  .toolbar-title {
    font-weight: $font-black;
    text-align: left;
    font-size: $mega;
    white-space: normal;
    text-overflow: inherit;
    margin-top: 100px;
    margin-bottom: 10px;
    letter-spacing: -1px;

    @media screen and (max-width: $small) {
      margin-top: 80px;
      margin-bottom: 60px;
    }
  }
}
