// md
$item-md-thumbnail-size: 4rem;
$list-md-background-color: white;
$label-md-margin: 0;

// ios
$item-ios-thumbnail-size: 4rem;
$list-ios-background-color: white;
$label-ios-margin: 0;

ion-list {

}

ion-item {
  background-color: white;
}

ion-label {
  font-weight: $font-bold;
}
